html {
    background-image: url("https://99px.ru/sstorage/53/2012/03/tmb_38472_2589.jpg");
}

footer,
header,
main,
nav {
    display : block;
}

.pr_text a {
    text-decoration: none;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
}

body {
    font-size: 100%
}

ul li {
    list-style-type: none;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.title {
    margin-left: 25%;
    margin-right: 25%;
    width: 1060px;
}

.title h1{
    margin-left: 25%;

}

.header {
    padding: 50px 0;
    text-align: center;
}

.nav {
    background-color: #20B2AA;
    border-color: black;
    height: 64px;
}

.nav li {
    float: left;
    width: 10%;
}

.nav a {
    display : block;
    color: white;
    line-height: 4em;
    text-align: center;
}

.nav li a:hover {
    color: white;
    background-color: #008080;
}

.auth {
    padding: 25px 0;
    float: right;
    color: white;
}

.login input[type="text"],
.login input[type="[password]"] {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid transparent;
    outline: none;
}

.login input[type="submit"] {
    padding: 5px 15px;
    margin-right: 5px;
    border: 1px solid yellow;
    float: right;
}

.products {
    overflow: auto;
}

.category_title {
    padding-bottom: 15px;
    font-size: 36px;
    padding-left: 20%;
    color: white;
}

.pr_item-outer {
    display: inline-block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    width: 33.33%;
    box-sizing: border-box;
}

.main_img {
    display: inline-block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    box-sizing: border-box;
}

.pr_item {
    width: 100%;
        color: white;
}

.pr_text {
    padding: 0 5px 5px 20px;
    outline: none;
    color: white;
}

.copyright {
    text-align: right;
    color: white;
}

.adm_buttons {
    box-sizing: border-box;
    padding-left: 30%;
}

.basket {
    color: white;
    font-size: 36px;
}